*{
    margin: 0;
    padding: 0;
}
img {
    height: 100%;

}
body {
    width: 80%;
    margin: 0 auto;
    background-color: #BBD1EA;
    color: #04080F;
}
nav {
    position: fixed;
    top: 0;
    width: 80%;
    background-color: #507DBC;
    height:80px;

}
.nav-links{
    height: 100%;
    display: flex;
   
    justify-content: space-between;
    align-items: center;
}
li{
    font-size:30px;
}
.hero-section {
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}
.hero-img {
   height: 100%;
   /*width: 50%;*/
   justify-self: flex-end;
   
   
}
.hero-text h1 {
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
.hero-text p {
    font-family: ;
    font-size: 16px;
    font-weight: 400;
}
p{
    font-size:18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: ;
}
.img{
    background-color: transparent;
    width:90%;
}
.me{
    background-color: transparent;
}
h3{
    color: crimson;
    /* width:150; */
}
li{
 list-style-type: none;
}
.ke{
    width:70%;
    margin-left:800px;
}

#th{
   font-size:30px;
  color: orangered;
}
.my{
    margin-left:90px;
}
